<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
</head>
<body>
  <ul>
    <li>Gold Price (per gram) [#GoldPrice#]</li>
    <li>Weight (grams) [#Weight#]</li>
    <li>Total Price [#TotalPrice#]</li>
    <li>Discount % [#Discount#]</li>
  </ul> 
</body>
</html>
